html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, 
li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color:transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(90, 70, 36);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.wrapper {
    padding: 20px;
    background-color: wheat;
}

.unselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;           
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    padding: 3px;
    background-color: rgb(90, 70, 36);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    position: relative;
}

.square-black {
    background-color: rgb(90, 70, 36);
}

.square-white {
    background-color: wheat;
}

.available {
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
}

.available-attack {
    background-color: green;
}

.select {
    background-color: rgb(128, 41, 0);
}

.current-player {
    font-size: 20px;
    max-width: 250px;
}

.lost-figures {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
}

.lost-figures__list {
    display: flex;
    gap: 10px;
    margin-right: auto;
    flex-wrap: wrap;
    max-width: 150px;
}

.lost-figure__img {
    width: 20px;
    height: 20px;
}

.figure {
    min-width: 60px;
    min-height: 60px;
}

.time-and-board {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.timer {
    font-size: 20px;
}

.last-move {
    height: 100px;
    width: 100px;
    background-color: red;
}

.change-white {
    margin-top: 50px;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: wheat;
    transition: all 0.5s ease;
}

.change-black {
    align-self: self-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: wheat;
    transition: all 0.5s ease;
}

.change-btn:hover {
    background-color: #5a4624;
    transition: all 0.5s ease;
}

.change-btn:hover img{
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.promote-figure {
    min-width: 60px;
    height: 60px;
}

.disabled-board {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 37px;
    top: 37px;
    right: 0;
    background-color: rgba(54, 51, 51, 0.5);
}